.choreContainer {
  background: #ceeffe;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
  color: #262828;
}

.choreBubbleContainer {
  margin-top: -10px;
  margin-left: 5px;
}

.choreInfoBox {
  margin-left: 25px;
  padding: 10px;
}

.choreName {
  font-weight: 500;
}

.pointValue {
  font-size: 14px;
}

.timesPerWeek {
  font-size: 12px;
}

.iconBox {
  position: absolute;
  top: 5px;
  left: 10px;
}

.editIcon,
.trashIcon {
  height: 18px;
}

.editIcon:hover,
.trashIcon:hover {
  height: 20px;
}

@media only screen and (min-width: 840px) {
  .choreBubbleContainer {
    margin-left: 35px;
  }

}
