.bubbleCircle {
  height: 72px;
  width: 72px;
  background: #ececed;
  border: 1px solid gray;
  border-radius: 100%;
  display: inline-block;
  margin: 6px;
  position: relative;
}

.clickMessage {
  text-align: center;
  font-size: 10px;
  width: 65px;
  margin: 25px 0 0 2px;
  color: gray;
}

.selectBox {
  position: absolute;
  width: 100px;
  height: 72px;
}

.personField {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  /* background-color: #4b6dff; */
  color: #262828;
  border-bottom: 2px solid #4b6dff;
  height: 20px;
  width: 83px;
  margin-top: 5px;
  position: relative;
  top: 20px;
  left: 2px;
  z-index: 5;
}

@media only screen and (min-width: 840px) {
  .bubbleCircle {
    height: 80px;
    width: 80px;
    margin-right: 8px;
  }

  .clickMessage {
    width: 70px;
    margin: 30px 0 0 4px;
  }

  .personField {
    top: 25px;
    height: 20px;
    width: 90px;
    font-size: 12px;
  }
}
