.choreListContainer {
  position: relative;
  z-index: -5;
}

.resetContainer {
  text-align: center;
  padding: 15px 15px 10px 15px;
  max-width: 680px;;
  margin: 0 auto;
  color: #262828;
  line-height: 24px;
}

.addChore {
  background-color: #4b6dff;
  color: white;
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  border: none;
  height: 30px;
  position: relative;
  z-index: 3;
}

.addChore:hover {
  background-color: rgba(61, 80, 153, 1);
}

.chartExplainBox {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  color: #262828;
  border-radius: 25px;
  background: rgba(194, 194, 195, .4);
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.explainText {
  padding: 5px;
  line-height: 22px;
}

.iconContain {
  margin: 0 auto;
  width: 60px;
}

.choreIcon {
  width: 60px;
}

.internalNavLink, .internalNavLink:visited {
  color: #262828;
}

.internalNavLink:hover {
  color: #4b6dff
}


@media only screen and (min-width: 640px) {
  .resetContainer {
    padding-top: 30px;
  }

  .chartExplainBox {
    width: 60%;
  }
}
@media only screen and (min-width: 680px) {
  .choreButtonContainer {
    margin: 0 auto;
    width: 680px;
    position: relative;
  }
}
