

.formAreaContain {
  background: #a5b6ff;
  padding: 8px;
  position: absolute;
  width: 100vw;
  z-index: 5;
}

.choreTitle {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  width: 130px;
  padding: 5px;
  margin: 5px;
  border-bottom: 2px solid rgba(61, 80, 153, 1);
  background: #ececed;
}

.pointContain,
.weekContain {
  display: inline-block;
}

.pointField,
.weekField {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  height: 20px;
  margin: 5px;
  border-radius: 1px;
  color: rgba(61, 80, 153, 1);
  border-bottom: 2px solid rgba(61, 80, 153, 1);
}

.buttonBox {
  display: inline-block;
}

.saveButton,
.cancelButton {
  margin: 5px;
  background: #ececed;
}

.validate {
  background: red;
  color: white;
  position: absolute;
  top: 0;
  font-size: 12px;
  left: 13px;
  padding: 2px;
}

@media only screen and (min-width: 680px) {
  .formBox {
    margin: 0 auto;
    width: 680px;
    position: relative;
  }
}
