.nameField {
  font-family: "Raleway", sans-serif;
  height: 30px;
  width: 100px;
  font-size: 12px;
  margin: 0 10px 0px 8px;
  padding: 6px;
  border-bottom: 2px solid rgba(61, 80, 153, 1);
  background: #ececed;
}

::placeholder {
  color: rgba(61, 80, 153, 1);
}

.formWarning {
  position: absolute;
  color: red;
  left: 13px;
  top: 8px;
  font-size: 10px;
}

@media only screen and (min-width: 640px) {
  .nameField {
    font-size: 14px;
  }

  .formWarning {
    font-size: 12px;
    top: 2px;
    left: 12px;
  }
}
