
.introSection {
  height: 400px;
  width: 100vw;
  background: rgba(185, 233, 254, 1);
  position: relative;
}

.logo {
    color: rgba(61, 80, 153, 1);
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
}

.question {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding: 5px;
  color: #262828;
}

.iconBox {
}

.choreIcon {
}

.explainSection {
  width: 100vw;
}

.explainBlock {
border-radius: 25px;
background: rgba(194, 194, 195, .4);
height: 300px;
margin: 20px;
display: flex;
align-items: center;

}

.signupSection {
  height: 400px;
  width: 100vw;
  background: rgba(185, 233, 254, 1);
}

.explainContent {
  padding: 10px;
}

@media only screen and (min-width: 640px) {

  .question {
    font-size: 30px;
  }


  .explainSection {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }

  .explainBlock {
    margin: 0;
  }

}

@media only screen and (min-width: 850px) {

  .question {
    font-size: 40px;
  }
}

@media only screen and (min-width: 950px) {

  .question {
    font-size: 45px;
  }

}
