.passwordValidateMessage,
.usernameValidateMessage {
  position: absolute;
  background: red;
  font-size: 13px;
  color: white;
  padding: 3px;
  margin-top: -20px;
  left: 60px;
}

.loginContain {
  background: white;
  width: 320px;
  position: fixed;
  top: -280px;
  right: 0;
  z-index: 2;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.slideDown {
  top: 0;
  transition: 0.5s;

}

.loginInput, .loginLabel {
  display: block;
  margin: 5px;
}

.loginLabel {
  color: #262828;
  margin-left: 60px;
  font-size: 14px;
  margin-top: 10px;
}

.loginInput {
  background: rgba(194, 194, 195, .6);
  height: 25px;
  width: 200px;
  margin: 0 auto;
  font-family: Raleway;
  font-size: 13px;
  padding-left: 10px;
}

.demoBox {
  width: 310px;
  background: #4b6dff;
  color: white;
  font-size: 14px;
  margin: 10px 5px 5px 5px;
}

.loginFailMessage {
  background: red;
  width: 310px;
  color: white;
  font-size: 14px;
  padding: 7px;
  margin-left: 5px;
}

.loginLoading {
  width: 310px;
  color: white;
  font-size: 14px;
  padding: 7px;
  margin-left: 5px;
  background: rgba(61, 80, 153, 1);
  text-align: center;
}


.demoInfo {
  padding: 4px;
}

.submitLoginButton {
  width: 70px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #4b6dff;
  color: white;
  font-size: 14px;
}

.submitLoginButton:hover {
  background: rgba(61, 80, 153, 1);
}

.closeButton {
  position: absolute;
  display: block;
  left: 12px;
  bottom: 9px;
  font-size: 18px;
}

.closeButton:hover {
  background: none;
  color: red;
}

@media only screen and (min-width: 321px) {
  .loginContain {
    border-radius: 0 0 0 25px;
  }
}
