button,
.selectColor {
  font-family: "Raleway", sans-serif;
}

.selectColor {
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.formBox {
  position: absolute;
  height: 48px;
  display: flex;
  align-items: center;
  left: 60px;
  top: 0px;
}

.editNameField {
  font-family: "Raleway", sans-serif;
  height: 30px;
  width: 100px;
  font-size: 12px;
  margin: 0 10px 0px 8px;
  padding: 6px;
  border-bottom: 2px solid rgba(61, 80, 153, 1);
  background: #ececed;
}

::placeholder {
  color: rgba(61, 80, 153, 1);
}

.validate {
  background: red;
  color: white;
  position: absolute;
  top: 0;
  font-size: 11px;
  left: 8px;
  padding: 2px;
}

button {
  padding: 2px;
  background: none;
  font-size: 12px;
  color: rgba(61, 80, 153, 1);
  position: relative;
}

button:hover {
  background: rgba(185, 233, 254, 1);
}

.buttonBox {
  width: 50px;
  height: 48px;
  display: inline-block;
  padding-top: 2px;
  position: relative;
}

.dropbtn {
  background-color: #4b6dff;
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
  height: 30px;
  margin: 0px 10px 0 0;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownContent div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 10;
  position: relative;
}

.red {
  background: #cc4014;
}

.orange {
  background: #ff8940;
}

.green {
  background: #80cc1c;
}

.yellow {
  background: #ffce00;
}

.brightBlue {
  background: #00b6ff;
}

.cornflowerBlue {
  background: #4b6dff;
}

.purple {
  background: #a600ff;
}

.fuschia {
  background: #993d78;
}

.pink {
  background: #da6db3;
}

.dropdownContent div:hover {
  border: 2px solid #3d4f99;
}

.dropbtn:hover {
  background-color: rgba(61, 80, 153, 1);
}

@media only screen and (min-width: 640px) {
  .formBox {
    top: 115px;
    left: 0px;
    background: #ececed;
  }

  .buttonBox {
    width: 78px;
    padding-top: 0;
    display: block;
    position: absolute;
    top: 50px;
    left: 20px;
  }

  .dropdownContent {
    width: 160px;
  }
}
