.membersContainer {
  margin-top: 60px;
  width: 100vw;
  position: relative;
  z-index: -2;
}

.membersHeading {
  display: none;
}

@media only screen and (min-width: 680px) {
  .membersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .membersHeading {
    display: block;
    color: #262828;
    text-align: center;
    font-weight: 500;
    padding-top: 8px;
    font-size: 20px;
  }
}
