

.chartPageContain {
  margin-top: 60px;
}

.statsHeader {
  padding: 10px;
  text-align: center;
  color: #262828;

}
@media only screen and (min-width: 640px) {

.pieChartContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

}

@media only screen and (min-width: 1200px) {
  .pieChartContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
