.statsContainer {
  margin-top: 110px;
  margin-bottom: 20px;
  font-size: 30px;
text-align: center;
font-weight: 500;
color: #262828;
}

.iconContain {
  display: inline-block;
  margin: 15px;
}

.iconBox {
  display: flex;
  justify-content: center;
}

.choreIcon {
  height: 80px;
}

@media only screen and (min-width: 640px) {

  .choreIcon {
    height: 128px;
  }

  .iconContain {
    margin: 20px;
  }

}
